#%RAML 1.0
title: Accounts API
version: v1
description: This specification defines a couple resources and methods to access Account data
protocols:
  - HTTP
  - HTTPS

# baseUri: http://avier-accounts-sapi.us-e2.cloudhub.io/api
baseUri: https://proxy-avier-accounts-sapi-zrtlim.5sc6y6-4.usa-e2.cloudhub.io

types:
  AccountType: !include /datatypes/AccountType.raml
  Account: !include /datatypes/Account.raml

/accounts:
  get:
    displayName: Get Accounts
    description: Get a list of accounts
    queryParameters:
      accountType:
        description: Type of account
        required: false
        type: AccountType
      accountName:
        description: Name of the customer the account belongs to
        required: false
        type: string
    headers:
      userID:
        description: The person or system requesting the data
        type: string
    responses:
      200:
        body:
          application/json:
            type: Account[]
            examples:
              !include /examples/AccountsExample.raml
  post:
    displayName: Create Account
    description: Create a new customer account
    headers:
      userID:
        description: The person or system requesting the data
        type: string
    body:
      application/json:
        type: Account[]
        examples:
          !include /examples/NewAccountsExample.raml
    responses:
      201:
        body:
          application/json:
            type: object
            example:
              message: Accounts created

/accounts/{ID}:
  get:
    displayName: Get Account by ID
    description: Retrieve a single account corresponding to the requested ID number
    headers:
      userID:
        description: The person or system requesting the data
        type: string
    responses:
      200:
        body:
          application/json:
            type: Account
            examples:
              !include /examples/AccountNoIdExample.raml
      404:
        body:
          application/json:
            type: object
            example:
              {"message": "Account not found"}
  uriParameters:
    ID:
      description: Unique idenfifier that corresponds to a single account
      type: number
      format: int